<%

# POST parameter from input

filter_menu = ifelse(is.null(POST$filter_menu),'',POST$filter_menu)
%>
<html>
<head>
	<title>Filter</title>
</head>
<body>
	
<strong>Result</strong><br><br>
<%=filter_menu%>

</body>
</html>
