<%
myname = ifelse(is.null(GET$name),'World',GET$name)
%>
<html>
<head>
	<title>A Simple Form</title>
</head>
<body>
	<h1>Hello <%=myname%></h1>
<% if (myname == 'World') { %>
	<form method="GET"> What's your name?
		<input name="name" type="text">
		<input type="submit" value="Send">
	</form>
<% } else { %>	
Today is : <%=format(Sys.time())%><br>
<% } %>
</body>
</html>