<%

# use library MCDA

library(MCDA)

# GET parameter from input

rer = ifelse(is.null(GET$rer),'',GET$rer)
metro1 = ifelse(is.null(GET$metro1),'',GET$metro1)
metro2 = ifelse(is.null(GET$metro2),'',GET$metro2)
bus = ifelse(is.null(GET$bus),'',GET$bus)
taxi = ifelse(is.null(GET$taxi),'',GET$taxi)
price = ifelse(is.null(GET$price),'',GET$price)
time = ifelse(is.null(GET$time),'',GET$time)
comfort = ifelse(is.null(GET$comfort),'',GET$comfort)
%>
<html>
<head>
	<title>UTADIS TEST</title>
</head>
<body>
	<h1>UTADIS TEST</h1>
	<strong>Ranks of the alternatives</strong><br><br>
	<form method="GET">
		RER<br>
		<input type="radio" name="rer" value="good">Good
		<input type="radio" name="rer" value="medium">Medium
		<input type="radio" name="rer" value="bad">Bad<br><br>
		METRO1<br>
		<input type="radio" name="metro1" value="good">Good
		<input type="radio" name="metro1" value="medium">Medium
		<input type="radio" name="metro1" value="bad">Bad<br><br>
		METRO2<br>
		<input type="radio" name="metro2" value="good">Good
		<input type="radio" name="metro2" value="medium">Medium
		<input type="radio" name="metro2" value="bad">Bad<br><br>
		BUS<br>
		<input type="radio" name="bus" value="good">Good
		<input type="radio" name="bus" value="medium">Medium
		<input type="radio" name="bus" value="bad">Bad<br><br>
		TAXI<br>
		<input type="radio" name="taxi" value="good">Good
		<input type="radio" name="taxi" value="medium">Medium
		<input type="radio" name="taxi" value="bad">Bad<br><br><br>

		<strong>Criteria</strong><br><br>

		Price<br>
		<input type="radio" name="price" value="min">Cheaper
		<input type="radio" name="price" value="max">Expensive<br><br>
		Time<br>
		<input type="radio" name="time" value="min">Shorter
		<input type="radio" name="time" value="max">Longer<br><br>
		Comfort (Possibility of a seat)<br>
		<input type="radio" name="comfort" value="min">No
		<input type="radio" name="comfort" value="max">Yes<br><br>
		<input type="submit" value="Send">
	</form>
<%if (rer!=''&&metro1!=''&&metro2!=''&&bus!=''&&taxi!=''&&price!=''&&time!=''&&comfort!='') {

# the performance table

performanceTable <- rbind(
  c(3,10,1),
  c(4,20,2),
  c(2,20,0),
  c(6,40,0),
  c(30,30,3))

rownames(performanceTable) <- c("RER","METRO1","METRO2","BUS","TAXI")

colnames(performanceTable) <- c("Price","Time","Comfort")

# ranks of the alternatives

alternativesAssignments <- c(rer,metro1,metro2,bus,taxi)

names(alternativesAssignments) <- row.names(performanceTable)

# criteria to minimize or maximize

criteriaMinMax <- c(price,time,comfort)

names(criteriaMinMax) <- colnames(performanceTable)

# number of break points for each criterion

criteriaNumberOfBreakPoints <- c(3,4,4)

names(criteriaNumberOfBreakPoints) <- colnames(performanceTable)

# ranks of the categories

categoriesRanks <- c(1,2,3)

names(categoriesRanks) <- c("good","medium","bad")

# UTADIS function

x <- UTADIS(performanceTable, criteriaMinMax, criteriaNumberOfBreakPoints, alternativesAssignments, categoriesRanks,0.1)

# lower bounds categories

lb <- as.vector(x$categoriesLBs)

# Separation class (good and medium)

goodClass <- which(x$overallValues>=lb[1])
mediumClass <- which(x$overallValues<lb[1] & x$overallValues>=lb[2])
badClass <- which(x$overallValues<lb[2])

resultGoodClass <- names(goodClass)
resultMediumClas <- names(mediumClass)
resultBadClas <- names(badClass)

%>

<strong>Result</strong><br><br>

Good Class : <%=resultGoodClass%>
<br>
Medium Class : <%=resultMediumClas%>
<br>
Bad Class : <%=resultBadClas%>
<%}%>
</body>
</html>